@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

/* hyperparameter view */
.hyperparameter-table {
  --hover-color: #f0f0f0;
  outline: none;
  user-select: none;
  white-space: nowrap;
}

.hyperparameter-table-row {
  font-size: smaller;
}
.hyperparameter-table-row.selected {
  background-color: var(--selected-color);
}

.hyperparameter-table-row.selected:hover {
  background-color: var(--selected-color);
}

.hyperparameter-table:hover .hyperparameter-table-row:not(.selected):hover {
  background-color: var(--hover-color);
}

.hyperparameter-table * {
  outline: none;
}

/* trial view */
.virtual-table {
  --row-height: 15px;
  --hover-color: #f0f0f0;
  --selected-color: #d0e0fc;
  outline: none;
  user-select: none;
  white-space: nowrap;
}
.virtual-table-row {
  font-size: smaller;
}
.virtual-table-row.selected {
  background-color: var(--selected-color);
}

.virtual-table-row.selected:hover {
  background-color: var(--selected-color);
}

.virtual-table:hover .virtual-table-row:not(.selected):hover {
  background-color: var(--hover-color);
}

.virtual-table * {
  outline: none;
}

.expanded-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  opacity: 0;
}

.expanded-content.show {
  max-height: 1000px; /* Adjust this value based on your maximum expected height */
  opacity: 1;
}

:root {
  --pseudo-height: 0px;
}

.virtual-table::after {
  content: "";
  display: block;
  height: var(--pseudo-height);
}

.virtual-table-sticky-header {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: white;
  /* border-bottom: 1px solid #ddd; */
  box-shadow: inset 0 -1px 0 #ddd;
  font-size: smaller;
}

.resizer {
  position: absolute;
  top: 0;
  height: 100%;
  width: 5px;
  background: rgba(0, 0, 0, 0.5);
  cursor: col-resize;
  user-select: none;
  touch-action: none;
}

.resizer.ltr {
  right: 0;
}

.resizer.rtl {
  left: 0;
}

.resizer.isResizing {
  background: #3182ce;
  opacity: 1;
}

@media (hover: hover) {
  .resizer {
    opacity: 0;
  }

  *:hover > .resizer {
    opacity: 1;
  }
}

/* SVG 스타일 */
.node-group {
  cursor: pointer;
}

.node {
  fill: #faf089;
  transition: fill 0.3s ease;
}

.node-group:hover .node,
.node-group.selected .node {
  fill: #ecc94b;
}

.link2:hover,
.link {
  fill: none;
  stroke: #ecc94b;
}

.node-group.selected .node {
  fill: #3182ce;
}

.node-text {
  fill: black;
  transition: fill 0.3s ease;
  pointer-events: none;
}

.node-group:hover .node-text,
.node-group.selected .node-text {
  fill: white;
}

.link {
  fill: none;
  stroke: #faf089;
  transition: stroke 0.3s ease;
}

.link:hover {
  stroke: #ecc94b;
}
/* .node {
  fill: #faf089;
  transition: fill 0.3s ease;
}

.node:hover {
  fill: #ecc94b;
}

.node.selected {
  fill: #3182ce;
}

.node-text {
  fill: black;
  transition: fill 0.3s ease;
}

.node:hover .node-text,
.node.selected .node-text {
  fill: white;
}

.link {
  fill: none;
  stroke: #faf089;
  transition: stroke 0.3s ease;
}

.link:hover {
  stroke: #ecc94b;
} */
