.virtual-table {
  --row-height: 15px;
  --hover-color: #f0f0f0;
  --selected-color: #d0e0fc;
  outline: none;
}

.virtual-table:hover .virtual-table-row:hover {
  background-color: var(--hover-color);
}

.virtual-table-row.selected {
  background-color: var(--selected-color);
}

.virtual-table-row.selected:hover {
  background-color: var(--selected-color);
}

.virtual-table * {
  outline: none;
}
