.virtual-table {
  --row-height: 15px;
  --hover-color: #f0f0f0;
  --selected-color: #d0e0fc;
  outline: none;
}

.virtual-table:hover .virtual-table-row:hover {
  background-color: var(--hover-color);
}

.virtual-table-row.selected {
  background-color: var(--selected-color);
}

.virtual-table-row.selected:hover {
  background-color: var(--selected-color);
}

.virtual-table * {
  outline: none;
}

/* SVG 스타일 */
.node {
  fill: #faf089;
  transition: fill 0.3s ease;
}

.node:hover {
  fill: #ecc94b;
}

.node.selected {
  fill: #3182ce;
}

.node-text {
  fill: black;
  transition: fill 0.3s ease;
}

.node:hover .node-text,
.node.selected .node-text {
  fill: white;
}

.link {
  fill: none;
  stroke: #faf089;
  transition: stroke 0.3s ease;
}

.link:hover {
  stroke: #ecc94b;
}
